// =====================================
// @include border-fade(4px, $primary--dark, $primary);
// =====================================
@mixin border-fade($borderWidth, $activeColor, $primaryColor) {
    $borderWidth: 4px;

    box-shadow: inset 0 0 0 $borderWidth $primaryColor,
        0 0 1px rgba(0, 0, 0, 0);

    /* Hack to improve aliasing on mobile/tablet devices */

    &:hover,
    &:focus,
    &:active {
        box-shadow: inset 0 0 0 $borderWidth $activeColor,
            0 0 1px rgba(0, 0, 0, 0);
        /* Hack to improve aliasing on mobile/tablet devices */
    }
}