
// Alineación
// ========================================================

// Clases de utilidad para alinear texto

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
