
// Variables
// ========================================================

// Podremos usar este archivo para incluir variables de SCSS que no puedan o que no tenga sentido que vengan de Figma

// TODO: Mover a Figma lo que veamos necesario. Requeriría tener los iconos exportados como data:image y arreglar el problema con los colores.

/* Form controls
----------------------------------------------------------- */

/* Switches */

$switch-radio-check-background-image-color: hsla(0, 0%, 0%, 0.25); // TODO: Como SASS convierte a hexadecimal los colores, no funciona tirar de tokens para meterlos dentro de los data:image. Hay que quitar el '#' y pasarlo a '%23'. No lo conseguí con str-replace o similares
$switch-radio-check-background-image-color-checked: hsl(0, 0%, 100%);

$switch-radio-background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{$switch-radio-check-background-image-color}'/%3e%3c/svg%3e";
$switch-radio-background-image-checked: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8\'%3e%3ccircle r='3' fill='#{$switch-radio-check-background-image-color-checked}'/%3e%3c/svg%3e";

$check-background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#{$switch-radio-check-background-image-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e";
$check-background-image-checked: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#{$switch-radio-check-background-image-color-checked}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e";

/* Selects */

$select-background-image-color: hsl(0, 0%, 0%); // TODO: Como SASS convierte a hexadecimal los colores, no funciona tirar de tokens para meterlos dentro de los data:image. Hay que quitar el '#' y pasarlo a '%23'. No lo conseguí con str-replace o similares
$select-background-image-color-success: green;
$select-background-image-color-alert: orange;
$select-background-image-color-error: red;

$select-background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='#{$select-background-image-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e";
$select-background-image-success: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='#{$select-background-image-color-success}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E";
$select-background-image-alert: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='#{$select-background-image-color-alert}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e";
$select-background-image-error: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='#{$select-background-image-color-error}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e";

/* Búsqueda */

$search-background-image-color: hsla(0, 0%, 0%, 0.5); // TODO: Como SASS convierte a hexadecimal los colores, no funciona tirar de tokens para meterlos dentro de los data:image. Hay que quitar el '#' y pasarlo a '%23'. No lo conseguí con str-replace o similares

$search-background-image-cancel: "data:image/svg+xml,%3Csvg fill='none' height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m24 48c13.2548 0 24-10.7452 24-24s-10.7452-24-24-24-24 10.7452-24 24 10.7452 24 24 24zm12.4143-32.2122-4.2426-4.2426-7.8045 7.8045-7.8044-7.8045-4.2427 4.2427 7.8045 7.8044-8.5116 8.5115 4.2427 4.2427 8.5115-8.5116 8.5116 8.5116 4.2426-4.2426-8.5116-8.5116z' fill='currentColor' fill-rule='evenodd'/%3E%3C/svg%3E";

$search-background-image: "data:image/svg+xml,%3Csvg enable-background='new 0 0 48 48' height='48' viewBox='0 0 48 48' width='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m47.2 43.6-11.6-11.7c4.2-5.5 5.4-13 2.5-19.8-4.3-10.1-15.9-14.8-26-10.5s-14.8 15.9-10.5 26 15.9 14.8 26 10.5c1.6-.7 3-1.5 4.3-2.5l11.7 11.7c1 1 2.6 1 3.6 0 1.1-1.1 1.1-2.7 0-3.7zm-21.6-10.3c-7.5 3.2-16.1-.3-19.3-7.7-3.1-7.5.3-16.1 7.8-19.3s16.1.3 19.3 7.8c2.4 5.6 1 11.9-3 16-.1 0-.1.1-.2.1 0 0 0 .1-.1.1-1.2 1.2-2.8 2.3-4.5 3z' fill='#{$search-background-image-color}' fill-rule='evenodd'/%3E%3C/svg%3E";