
// Iframes
// ========================================================

// Estilos generales para elementos relacionados con iframes, sin clases

iframe {
    border: 0;
    max-width: 100%;
    outline: none;
    overflow: hidden;
}
