
// Tablas
// ========================================================

// Estilos generales para elementos relacionados con tablas, sin clases

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}